body {
  margin: 0;
}
.konvajs-content {
  border: 1px solid;
}

#toolbar {
  display: flex;
  margin-bottom: 5px;
  background-color: #55555530;

  & > div {
    // border: 1px solid;
    padding: 1rem 1.5rem;
    margin-right: 5px;
    border-left: 1px solid black;
  }

  button {
    border-radius: 0;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:hover {
      border-color: blue;
    }
  }

  button.active {
    border: 1px solid red;
  }
}
